@model IEnumerable<Interfaces.Product>
@{
    ViewData["Title"] = "Product summary";
}

@foreach (var product in Model)
{
    <div>
        <h3>@product.Name</h3>
        <u>@product.Description</u>
        <h4>@product.Price.ToString("c")</h4>
    </div>
}

